<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="import" href="/html/input.html">
</head>

<body>
<table id="dg" class="easyui-datagrid"></table>

<div id="toolbar">
    <span style="padding: 0 4px">管理员名:</span>
    <input id="admin_name" class="easyui-textbox" style="width:110px">
    <input id="invalid" class="easyui-combobox" name="invalid" value="2"
           data-options="url:'/adminValid',method:'get',width:60,editable:false">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'"
       onclick="adminPage.queryDatagrid({admin_name: $('#admin_name').val(),invalid:$('#invalid').val()})">查询</a>

    <div style="float:right">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:'true'"
           onclick="adminPage.add();">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:'true'"
           onclick="adminPage.edit();">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:'true'"
           onclick="adminPage.destroy();">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:'true'"
           onclick="adminPage.active();">激活帐号</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog">
    <form id="fm" method="post" style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">管理员信息</div>
        <div style="margin-bottom:10px">
            <input name="admin_name" class="easyui-textbox" style="width:100%"
                   data-options="required:true, label:'管理员名:'">
        </div>
        <div style="margin-bottom:10px">
            <input name="password" class="easyui-passwordbox" style="width:100%"
                   data-options="required:true, label:'管理员密码:'">
        </div>
    </form>
</div>

<div id="dlg2" style="width:500px;height:200px;padding:10px;">
    <table id="dg2" class="easyui-datagrid"></table>
</div>

<!--,'-',{-->
<!--text:'取消',-->
<!--iconCls:'icon-cancel',-->
<!--handler:function() {-->
<!--alert('cancel');-->
<!--}-->
<!--}-->

</body>
<script type="text/javascript" src="/static/js/admin/home.js?version=1.0"></script>
</html>
