<!--<ul id="tt"></ul>-->
<!--<script>-->
    <!--var tt = $('#tt').tree({-->
        <!--method: 'get',-->
        <!--url: '/nav',-->
        <!--onClick: function (node) {-->
            <!--if (tt.tree('isLeaf', node.target)) {-->
                <!--console.info(node.target)-->
                <!--addTab(node.text, node.attributes);-->
            <!--}-->
        <!--}-->
    <!--});-->
<!--</script>-->

<ul id="tt" class="easyui-tree">
    <li><span><a href="#" onclick="opentt('角色管理','/html/role/home.html');">角色管理</a></span></li>
    <li><span><a href="#" onclick="opentt('资源管理', '/html/res/home.html')">资源管理</a></span></li>
    <li><span><a href="#" onclick="opentt('用户管理', '/html/admin/home.html')">用户管理</a></span></li>
</ul>

<script>
    var opentt = function (name, url) {
        addTab(name, url);
    }
</script>